
.auth-fill-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.auth-fill-items .item {
    width: 100%;
    margin-bottom: 20px;
}

.auth-fill-items .button {
    width: calc(100% - 10px);
    margin-top: 15px;
}

/* Додайте стилі для інпутів */
.fill-input {
    width: 100%;
}
.fill-input input {
    width: calc(100% - 25px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.button {
    display: inline-block;
    width: calc(100% - 10px);
    margin-top: 15px;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

h1 {
    color: #fff; /* Колір тексту */
    font-size: 24px; /* Розмір шрифту */
    margin-bottom: 20px; /* Відступ від інших елементів */
}



.head-auth-fill {
    text-align: center; /* Розмістіть текст по центру */
}



.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

form {
    max-width: 400px; /* Збільште максимальну ширину форми за потребою */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.auth-main-container h1 {
    color: #333; /* Змініть колір тексту на білий або будь-який інший, який вам подобається */
    font-size: 28px; /* Збільште розмір шрифту за потреби */
    margin-bottom: 30px; /* Збільште відстань між заголовком та іншими елементами форми */
}
