<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<div class="header"></div>
<div class="auth-main">
    <div class="auth-main-container">
        <form method="POST" class="auth-data">
            <div class="head-auth-fill">
                <h1>Реєстрація</h1>
            </div>
            <div class="auth-fill-items">
                <div class="item ">
                    <div class="fill-input">
                        <input name="name" placeholder="Ім'я" value="" required="" autofocus="">
                        <input type="email" name="email" placeholder="Ел. пошта" value="" required="" autofocus="">
                        <input type="password" name="password" placeholder="Пароль" required=""
                               autocomplete="current-password">
                    </div>
                </div>
                <div class="bottom-auth-fill"
                     style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <button type="submit" class="button">Увійти</button>
                    <label class="checkbox-label" style="display: flex; align-items: center; margin: 10px auto;">
                        <input type="checkbox" name="data-consent" class="checkbox"
                               style="margin: 0; vertical-align: middle;">
                        <span class="checkbox-text" style="margin-left: 8px; line-height: 1.5; vertical-align: middle;">Згоден на обробку даних</span>
                    </label>
                </div>


            </div>
        </form>
    </div>
</div>
<div class="footer"></div>
</body>
</html>